*, *::before, *::after {
    box-sizing: border-box; 
}

#content {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 2rem;
    
    color: var(--color-text-medium); 
}

.site-background-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    display: block; 
    
    background-color: var(--color-background); 
}

@keyframes subtleShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media screen and (max-width: 600px) {
    #content {
        padding: 0 1rem;
        margin-top: 1rem; 
    }
}