@property --color-primary {
  syntax: '<color>';
  initial-value: #FF7E00;
  inherits: true;
}
@property --color-primary-light {
  syntax: '<color>';
  initial-value: #FFAA4B; 
  inherits: true;
}
@property --color-primary-dark {
  syntax: '<color>';
  initial-value: #CC6500; 
  inherits: true;
}






@property --color-background {
  syntax: '<color>';
  initial-value: #0A0A0A; 
  inherits: true;
}

@property --color-surface {
  syntax: '<color>';
  initial-value: #1B1B1B; 
  inherits: true;
}
@property --color-border {
  syntax: '<color>';
  initial-value: #282828;
  inherits: true;
}




@property --color-text-high {
  syntax: '<color>';
  initial-value: #F0F0F0; 
  inherits: true;
}
@property --color-text-medium {
  syntax: '<color>';
  initial-value: #B0B0B0; 
  inherits: true;
}
@property --color-text-low {
  syntax: '<color>';
  initial-value: #757575; 
  inherits: true;
}





:root {
  --node-rgb: #FFAA4B;
  --edge-rgb: #FFAA4B;
}