.books__container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.books__item {
    background-color: var(--color-surface);
    border: solid 1px ;
    border-radius: 8px;

    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.books__item-text{
    padding: 1rem;
}

.books__item-header {
    color: var(--color-primary);
}

.books__item-header a {
    text-decoration: none;
    color: inherit;
}

.books__item-author {

}

.books__item-notes {

}

.books_item-image{
    border-radius: 8px;
    height: 100%;
}