.home__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home__title {
    text-align: center;
    color: var(--color-text-high);
    width: 900px;
}

.home__info {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-text-medium);
    width: 700px;
}

.home__list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}


.home__list-link {
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;

    background-color: var(--color-primary);
    color: var(--color-text-high);
    transition: background-color 0.3s;
}

.home__list-link:hover {
    background-color: var(--color-primary-dark);
}